* {
	padding:0;
	margin:0;
}
header {
	padding:10px;
	background:#7DB063 url('res/algae_bgr.jpg') repeat-x center;
	text-align: center;
}
header h1 {
	padding:20px;
	font:italic bolder 50px/60px Tahoma, Geneva, sans-serif;
	color:MidnightBlue;
	text-shadow:5px 5px 3px LightCyan;
}

nav ul {
	list-style-type:none;
	text-align:center;
}
nav ul li {
	display:inline-block;
	margin:10px;
	border:1px solid;
	border-radius:10px;
	box-shadow:5px 5px 3px black;
}
nav ul li a,input {
	display:block;
	padding:10px 20px;
	border:none;
	border-radius:10px;
	text-decoration:none;
	white-space:nowrap;
	background-color:Silver;
	font:bold 16px/20px Georgia, serif;
	color:MidnightBlue;
}
nav ul li a:hover,input:hover {
	text-decoration:underline;
	background-color:Lavender;
}
nav ul li#selected a {
	background-color:Lavender;
}
nav ul li#selected a:hover {
	background-color:White;
}

#wrapper { 
	position:relative;
}

section {
	margin-right:200px;
	padding:15px;
	text-align:justify;
}
section img#big {
	width:100%;
	margin: 15px 0px;
}
section img#small {
	float:right;
	padding: 10px 0px 10px 20px;
}
section p {
	clear:both;
	text-indent:30px;	
}
section dl {
	clear:both;
	margin:15px 0px;	
}
section dt {
	font-weight:bold;
	text-decoration:underline;
	margin-left:30px;	
}
section dd, section li {
	margin-left:50px;	
}
section table {
	margin: 0 auto;
}
table.puddle {
	border-collapse:collapse;
	text-align:center;
	padding:0 15px 15px 0;
}
table.puddle  td {
	width:20px;
	height:20px;
	color:white;
	border: 1px solid black;
}
table.puddle  td.F {
	background:SeaGreen url('res/amoeba.gif') no-repeat center;
}
table.puddle  td.S {
	background:url('res/amoeba_food.gif') no-repeat center;
}

aside {
	position:absolute;
	top:0px;
	right:0px;
	width:150px;
	height:100%;
	padding:20px 10px 20px 30px;
	background-color:#7DB063;
}
aside ul li {
	list-style:url('res/amoeba.png');
	margin-top:15px;
}

footer {
	padding:20px;
	background-color:#7DB063;
	text-align:center;
	font:16px/20px Georgia, serif;
	color:MidnightBlue;
}